body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ececec;
  color: #2b2b2b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*{
  margin: 0;
  padding: 0;
}



/*Navigation Styling*/

.navContainer{
  padding-top: 20px;
 height: 97vh;
 width:15%;
 border-radius: 25px;
 /* box-shadow: 5px 10px 20px -3px rgba(0,0,0,0.10);
 -webkit-box-shadow: 5px 10px 20px -3px rgba(0,0,0,0.10);
 -moz-box-shadow: 5px 10px 20px -3px rgba(0,0,0,0.10); */
 margin-left: -22px;
 
 font-family: 'Open Sans', sans-serif;
 float: left;
 background-color: #ffffff;
 position: fixed;
 box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);

}

.navContainer ul{
  padding-top: 150px;
  list-style: none;
  text-align: left;
 
}

.navContainer li{
  padding: 0px 20px;
  margin: 30px;
  margin-left: 15%;
  
 
}

.navContainer li{
  /* background-color:rgba(196, 135, 211, 0.253); */
  /* background-color:rgba(135, 211, 179, 0.253); */
  /* background-image: linear-gradient(to right, #a9f1df7c , #ffbbbb49); */
  border-radius: 30px;
  width: 65%;
}

a{
  text-decoration: none;
  color: #2b2b2b;
}

.navImg{
  margin-top: 60px;
  width: 200px;
}

/*logo*/
.logo{
  width: 80px;
  float: left; 
  margin-left: 40px;
}


.navContainer h1{
  
  color: #2b2b2b;
  font-size: 28px;
  float: left;
  margin-left: 50px;
  padding-top: 10px;
}
.navContainer p{
  color: #2b2b2b;
  font-size: 12px;
  float: left;
  margin-left: 50px;
  padding-top: 5px;
  
  
}
 .icon img{
   width:20px;
   float: left;
   padding-right:10px;
 }


/*HEADER*/
.Header{
  float: left;
  text-align: left;
  color: #2b2b2b;
  background-color: #ffffff;
  height: 95vh;
  border-radius: 20px;
  margin: 10px;
  width: 84%;
  margin-left: 15%;
  display: inline;
}

.Header h2{
  font-size: 20px;
  /* color: #05A8AA; */
  font-weight: 400;
  
}

.HeaderText h1{
  font-size: 64px;
  
}
.HeaderText{
  float: left;
  padding: 60px;
  margin-top: 10%;
}
.HeaderText p{
  width: 50%;
  font-size: 16px;
  font-weight: lighter
}

.charazardImg img{
  /* background-image: url("Images/Charazard.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100%;
  background-size: 500px;
  float: left;
  margin-left: 55%;
  margin-top: -28%; */

  width: 500px;
 float: left;
 margin-left: 54%;
  margin-top: -40%; 

}

/*Buttons*/

.Button1, .Button2{
  width: 100px;
  border-radius: 10px;
  padding: 10px;
  float: left;
  margin: 30px 10px 0px 0px;
  text-align: center;
  /* border: 1px solid #05A8AA; */
  border: 1px solid #F4A261;
  font-size: 14px;
  font-weight: bold;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 30px rgba(166,173,201,0.1);
  
}
.Button1{
  /* background-color: #05A8AA; */
  background-color: #F4A261;
  color: #ffffff;
  
}
.Button2{
  background-color: #ffffff;
  /* color: #05A8AA; */
  color: #F4A261;
  
  
}

.scroll{
  width: 40px;
  margin-left: 40%;
  margin-top: 3%;
}

/*Body of Info*/

.BodyBox{
  float: left;
  text-align: left;
  color: #2b2b2b;
  background-color: #ffffff;
  height: 95vh;
  border-radius: 20px;
  margin: 10px;
  width: 84%;
  margin-left: 15%;
  display: inline;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);

}

.Header{
  background: linear-gradient(110deg, #ffffff 60%, #E9C46A 60%);
}

/*Headings*/

.BodyBox h1{
  margin-top: -20px;
  padding-bottom: 10px;
  font-size: 38px;
}

.TextContainers{
  float: left;
  padding: 60px;
  
}


/*Dash row blocks*/
.ContentRow{
  display: flex;
  width: 100%;
  margin-top: 30px;
  

}

.Row-Block{
  background-color: #ffffff;
  float: left;
  width: 352px;
  height: 100px;
  padding: 15px;
  border-radius: 10px;
  margin-right: 15px;
  margin-bottom: 5px;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
  color: #ffffff;
 
  

  
}

.Row-Block.one{
  background-color: #F4A261;

}
.Row-Block.two{
  background-color: #2A9D8F;

}
.Row-Block.three{
  background-color: #E9C46A;

}
.pokemonNum{
  background-color: #ffffff;
  float: left;
  width: 164px;
  height: 100px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 15px;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
}


/*Charts*/

.BodyBox.two{
  height:110vh;
}

.BarGraph_Dash, .BarGraph_Comp{
  
  width: 360px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  float: left;
  margin-left: 64px;
  margin-top: -48px;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
}
.BarGraph_Dash{
  height:290px;
}

.BarGraph_Comp{
  width: 100%;
  margin-left: 10px;
  margin-top: 20px;
  
}

.DoughnutGraph_Comp{
  
  width: 300px;
  height:400px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  float: left;
  margin-left: 10px;
  margin-top: -178px;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
}
.DoughnutGraph_Dash{
  width: 339px;
  height:400px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  float: left;
  margin-left: 15px;
  margin-top: -178px;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
  /* background-image:linear-gradient(to bottom, rgba(235, 235, 235, 0.7) 100%,rgba(235, 235, 235, 0.8) 100%),  url(./Images/bg.png) ; */
 
  background-size: cover;

} 


.RadarGraph_Comp{
  
  width: 300px;
  height:300px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  float: left;
  margin-left: 60px;
  margin-bottom: 200px;
  margin-top: -178px;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
}
.RadarGraph_Dash {
  width: 335px;
  height:400px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  float: left;
  margin-left: 20px;
  margin-bottom: 200px;
  margin-top: -178px;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
  background-image:linear-gradient(to bottom, rgba(235, 235, 235, 0.6) 100%,rgba(235, 235, 235, 0.6) 100%),  url(./Images/vulpix.png) ;
 
  background-size: cover;

}

.RadarGraph_Comp{
  margin-left: 0px;
}
.timeline_graph{
  background-color: #F4A261;
  width: 600px;
  height:430px;
  border-radius: 15px;
  padding: 20px;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
  margin-top: 20px;
  margin-left: 64px;
  float: left;
}

/*timeline page*/
.BodyBox.time{
  height: 105vh;
  

}
.OptionsRow{
  display: inline;
  width: 100%;
  margin-left: 60px;
  float: left;
 
 
}

.OptionButton{
  background-color: #ffffff9f;
  float: left;
  width: 120px;
  outline: 0px;
  padding: 15px;
  border: 0px;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: -20px;
  color: #2b2b2b;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
}

.Option.one{
  margin-left: 60px;
  
}
.UpdateInfo{
  float: left;
  width: 450px;
  height:300px;
  padding: 15px;
  border-radius: 10px;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
  margin-left: 25px;
  margin-top: -50px;

}

.ExtraImage img{
  width: 486px;
  float:left;
  margin-left: 24px;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
}



                        /* '#2A9D8F',
                        '#E9C46A', 
                        '#F4A261',
                        '#E76F51',
                        '#BC412B', */
/*Comparisons Page*/
.BodyBox.Comparisons{
  height: 160vh;

}
.left-panel{
  height: 100%;
  width: 30%;
  float: left;
  margin: 30px;
  margin-top: -0px;
}

.right-panel{
  height: 100%;
  width: 30%;
  float: left;
  margin-left: 75px;
}
.center-panel{
  height: 100%;
  width: 20%;
  float: left;
  margin: 30px;
  margin-top: 180px;
}

.selectOption{
  padding: 15px;
  border-radius: 10px;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 20px rgba(166,173,201,0.1);
  margin-left: 10px;
  margin-bottom: 60px;
  width: 100%;
  
}
select{
  border: none;
  width: 90%;
  text-align: center;
  outline: none;
}

.pokemonInfo{
  padding: 15px;
  border-radius: 10px;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
  margin-left: 10px;
  margin-top: -40px;
  width: 100%;

}
.pokemonInfo p{
  padding: 10px;
}

/*Compare Page Styling*/
.pokeName{
  text-align: center;
  text-transform: capitalize;
  /* font-weight: lighter; */
  
}
hr{
  margin: 0 auto;
  margin-top: 8px;
  width: 130px;
  border: 1px solid #6ee090;
  background-color: #6ee090;
 
}
small{
  display: block;
  text-align: center;
  padding-top: 5px;
  font-size: 11px;
}

.rowOne{
  color: #2A9D8F;
  text-align: center;
  text-transform: capitalize;
  font-size: medium;
}

.rowOne td{
  border-right: solid 1px #2b2b2b; 
  margin-bottom: 0px;
  padding-bottom: 0px;
  /* height: 10px; */
}

.rowOne .last{
  border-right: solid 0px #2b2b2b; 
}
td{
  width: 230px;
  text-align: center;
}
 .smalltxt{
  font-size: small;
  display: inline;
  padding: 0;
  margin-left: 0px;
 
 }
 table{
   margin-top: 15px;
 }

 .title{
   color: #2b2b2b;
   font-size: 11px;
   text-align: center;
   margin-top: -15px;
   padding: 0px;
 }

 .idStyle{
   text-align: center;
   font-weight: 500;
 }

 .componentInteriorRadar h3{
   text-align: center;
 }

 .radar{
   margin-top: -30px;
 }


 /*Dashboard*/

 .pokemonNum h3{
   font-size: 16px;
   text-align:center;
   margin-top: 10px;
   font-weight: lighter;
 }
 .pokemonNum p{
  font-size: 22px;
  font-weight: 300;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  padding: 10px;
  background: #fff;
  border: 2px solid #2b2b2b;
  color: #2b2b2b;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
}

.componentInteriorBar h3, .componentInteriorPolar h3{
  text-align: center;
  font-weight: lighter;
  margin-bottom: -15px;
  margin-top: 10px;
}

.Row-Block h3{
  font-weight: 450;
  padding-bottom:10px;
}
.Row-Block p{
  font-weight: lighter
}

.PolarChart{
  width: 300px;
  margin: 0 auto;
  margin-top: -70px;
}

.pokemonExplained p{
  margin-top:-50px;
  font-weight: lighter;
  text-align: center
}

.RadarGraph_Comp.winnerBlock h5{
font-weight: lighter;
text-align: center;
font-size:25px;
}

.RadarGraph_Comp.winnerBlock h3{
  font-size:40px;
  text-align: center;
  text-transform: capitalize;
  }

  .Doughnut{
    width: 50%;
    padding: 20px;
    float: left;
  }

  .BarGraph_Comp.Doughnut{
    
   
    width: 360px;
    height: 40vh;

  }

 

  .Doughnut h3{
    text-align: center;
    font-weight: lighter;
    
  }

  .Doughnut h5{
    float: left;
    text-align: center;
    font-weight: lighter;
    font-size:50px;
    padding:10px;
    padding-right: 20px;
  }

  .underNum{
    float:left;
    margin: 0 auto;
    margin-top: -8px;
    width: 100px;
    border: 1px solid #2b2b2b;
    background-color: #2b2b2b;

  }

  button:active:focus:hover{
    background-color:#2A9D8F;
    color: white;
  }

  .OptionButton.activeOp{
    background-color:#2A9D8F;
    color: white;
}

.UpdateInfo p{
  font-weight:lighter;
  
}

.UpdateInfo h2{
  font-weight: 450;
  padding-bottom:10px;
  
}

.pokemonNum2 h3{
  font-size: 16px;
  text-align:center;
  margin-top: 5px;
  font-weight: lighter;
}
.pokemonNum2 p{
 font-size: 22px;
 font-weight: 300;
 border-radius: 50%;
 width: 34px;
 height: 34px;
 padding: 10px;
 background: #fff;
 border: 3px solid #F4A261;
 color: #2b2b2b;
 text-align: center;
 margin: 0 auto;
 margin-top: 20px;
 
}

.UpdateInfo h3{
  font-weight: 350;
  padding-bottom:10px;
  
 
  
}
.UpdateInfo hr{
  margin-left: 0px;
  margin-top: -8px;
  width: 135px;
  height:0.5px;
  border: 0px solid #2b2b2b;
  background-color: #2b2b2b;

}
.winnerLine{
  width: 150px;
  height:0.5px;
  border: 0px solid #2b2b2b;
  background-color: #2b2b2b;
  margin: 0 auto;
}

.learnMore h3{
  font-weight: 450;
  padding-bottom:10px;
}
.learnMore p{
  font-weight: lighter
}

.learnMore .Button1{
  margin-top: 17px;
}


.active {
  color:#F4A261;


}

::-webkit-scrollbar{width:0px;border-left:0px solid #E6ECF8;}
::-webkit-scrollbar-thumb{background-color:#E6ECF8;}


.RadarGraph_Comp.RadarGraph_Comp.winnerBlock{
  background-image:linear-gradient(to bottom, rgba(235, 235, 235, 0.8) 100%,rgba(235, 235, 235, 0.8) 100%),  url(./Images/winner.jpg) ;
  background-size: contain;
}

.RadarGraph_Comp.rem{
  height: 150px;
  background-color: #E9C46A;
  color: #fff;
}

.RadarGraph_Comp.rem h3{
  text-align: center;
  font-weight: 450;
  margin-top: 15px;
 
}
.RadarGraph_Comp.rem p{
  margin-top: 15px;
  text-align: center;
  font-weight: lighter;
 
 
}

.dynaText{
  float: left;
  width: 180px;
  margin-top: -200px;
  margin-left: 205px;
  
}
.dynaText p{
  float: left;
  width: 120px;
  font-size: 16px;
  margin-top: 5px;

  
} 

