body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ececec;
  color: #2b2b2b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*{
  margin: 0;
  padding: 0;
}



/*Navigation Styling*/

.navContainer{
  padding-top: 20px;
 height: 97vh;
 width:15%;
 border-radius: 25px;
 /* box-shadow: 5px 10px 20px -3px rgba(0,0,0,0.10);
 -webkit-box-shadow: 5px 10px 20px -3px rgba(0,0,0,0.10);
 -moz-box-shadow: 5px 10px 20px -3px rgba(0,0,0,0.10); */
 margin-left: -22px;
 
 font-family: 'Open Sans', sans-serif;
 float: left;
 background-color: #ffffff;
 position: fixed;
 box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);

}

.navContainer ul{
  padding-top: 150px;
  list-style: none;
  text-align: left;
 
}

.navContainer li{
  padding: 0px 20px;
  margin: 30px;
  margin-left: 15%;
  
 
}

.navContainer li{
  /* background-color:rgba(196, 135, 211, 0.253); */
  /* background-color:rgba(135, 211, 179, 0.253); */
  /* background-image: linear-gradient(to right, #a9f1df7c , #ffbbbb49); */
  border-radius: 30px;
  width: 65%;
}

a{
  text-decoration: none;
  color: #2b2b2b;
}

.navImg{
  margin-top: 60px;
  width: 200px;
}

/*logo*/
.logo{
  width: 80px;
  float: left; 
  margin-left: 40px;
}


.navContainer h1{
  
  color: #2b2b2b;
  font-size: 28px;
  float: left;
  margin-left: 50px;
  padding-top: 10px;
}
.navContainer p{
  color: #2b2b2b;
  font-size: 12px;
  float: left;
  margin-left: 50px;
  padding-top: 5px;
  
  
}
 .icon img{
   width:20px;
   float: left;
   padding-right:10px;
 }


/*HEADER*/
.Header{
  float: left;
  text-align: left;
  color: #2b2b2b;
  background-color: #ffffff;
  height: 95vh;
  border-radius: 20px;
  margin: 10px;
  width: 84%;
  margin-left: 15%;
  display: inline;
}

.Header h2{
  font-size: 20px;
  /* color: #05A8AA; */
  font-weight: 400;
  
}

.HeaderText h1{
  font-size: 64px;
  
}
.HeaderText{
  float: left;
  padding: 60px;
  margin-top: 10%;
}
.HeaderText p{
  width: 50%;
  font-size: 16px;
}

.charazardImg img{
  /* background-image: url("Images/Charazard.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100%;
  background-size: 500px;
  float: left;
  margin-left: 55%;
  margin-top: -28%; */

  width: 500px;
 float: left;
 margin-left: 54%;
  margin-top: -46%; 

}

/*Buttons*/

.Button1, .Button2{
  width: 100px;
  border-radius: 10px;
  padding: 10px;
  float: left;
  margin: 30px 10px 0px 0px;
  text-align: center;
  /* border: 1px solid #05A8AA; */
  border: 1px solid #2b2b2b;
  font-size: 14px;
  font-weight: bold;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
  
}
.Button1{
  /* background-color: #05A8AA; */
  background-color: #2b2b2b;
  color: #ffffff;
  
}
.Button2{
  background-color: #ffffff;
  /* color: #05A8AA; */
  color: #2b2b2b;
  
  
}

.scroll{
  width: 40px;
  margin-left: 40%;
  margin-top: 7%;
}

/*Body of Info*/

.BodyBox{
  float: left;
  text-align: left;
  color: #2b2b2b;
  background-color: #ffffff;
  height: 95vh;
  border-radius: 20px;
  margin: 10px;
  width: 84%;
  margin-left: 15%;
  display: inline;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);

}

.Header{
  background: linear-gradient(110deg, #ffffff 60%, #E9C46A 60%);
}

/*Headings*/

.BodyBox h1{
  padding-bottom: 10px;
  font-size: 38px;
}

.TextContainers{
  float: left;
  padding: 60px;
  
}


/*Dash row blocks*/
.ContentRow{
  display: flex;
  width: 100%;
  margin-top: 30px;
  

}

.Row-Block{
  background-color: #ffffff;
  float: left;
  width: 28%;
  height: 100px;
  padding: 15px;
  border-radius: 10px;
  margin-right: 30px;
  margin-bottom: 5px;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
  color: #ffffff;
 
  

  
}

.Row-Block.one{
  background-color: #F4A261;

}
.Row-Block.two{
  background-color: #2A9D8F;

}
.Row-Block.three{
  background-color: #E9C46A;

}
.pokemonNum{
  background-color: #ffffff;
  float: left;
  width: 16%;
  height: 100px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 15px;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
}


/*Charts*/

.BodyBox.two{
  height:120vh;
}

.BarGraph_Dash, .BarGraph_Comp{
  
  width: 400px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  float: left;
  margin-left: 64px;
  margin-top: -48px;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
}

.DoughnutGraph_Dash, .DoughnutGraph_Comp{
  
  width: 300px;
  height:400px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  float: left;
  margin-left: 15px;
  margin-top: -178px;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
}

.RadarGraph_Dash, .RadarGraph_Comp{
  
  width: 300px;
  height:400px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  float: left;
  margin-left: 15px;
  margin-top: -178px;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
}
.timeline_graph{
  background-color: #F4A261;
  width: 600px;
  height:430px;
  border-radius: 15px;
  padding: 20px;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
  margin-top: 20px;
  margin-left: 64px;
  float: left;
}

/*timeline page*/
.BodyBox.time{
  height: 115vh;
  

}
.OptionsRow{
  display: inline;
  width: 100%;
  margin-left: 60px;
 
 
}

.Option{
  background-color: #ffffff9f;
  float: left;
  width: 90px;
  padding: 15px;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: -20px;
  color: #2b2b2b;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
}

.Option.one{
  margin-left: 60px;
  
}
.UpdateInfo{
  float: left;
  width: 450px;
  height:300px;
  padding: 15px;
  border-radius: 10px;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
  margin-left: 25px;
  margin-top: -50px;

}

.ExtraImage img{
  width: 486px;
  float:left;
  margin-left: 24px;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
}



                        /* '#2A9D8F',
                        '#E9C46A', 
                        '#F4A261',
                        '#E76F51',
                        '#BC412B', */
/*Comparisons Page*/
.BodyBox.Comparisons{
  height: 150vh;

}
.left-panel{
  height: 100%;
  width: 25%;
  float: left;
  margin: 30px;
}

.right-panel{
  height: 100%;
  width: 25%;
  float: left;
}
.center-panel{
  height: 100%;
  width: 25%;
  float: left;
  margin: 80px;
  margin-top: 200px;
}

.selectOption{
  padding: 15px;
  border-radius: 10px;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
  margin-left: 60px;
  margin-bottom: 60px;
  width: 100%;
  margin-top: ;
}
select{
  border: none;
  width: 90%;
  text-align: center;
}

.pokemonInfo{
  padding: 15px;
  border-radius: 10px;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
  margin-left: 60px;
  margin-top: 340px;
  width: 100%;

}
.pokemonInfo p{
  padding: 10px;
}